version: '3.8'
services:
  api:
    build: ./server
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app
    env_file:
      - ./server/.env
    environment:
      - WATCHFILES_FORCE_POLLING=true
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
